.contact-get-block
  text-align: left
  padding-top: 40px
  padding-bottom: 15px

.caption-gold
  font-size: 14pt
  font-family: ArimoItalic
  color: $gold_color
  padding-bottom: 50px

.get-block-item
  margin-bottom: 20px

.block-item__caption
  color: #1a1a1a
  text-decoration: underline

.block-item__text
  color: #666666
  text-align: justify

.link
  text-decoration: none
  list-style-type: none

.block-item__caption_auto
  text-decoration: none

.value-km
  color: $grey_color

.link_get-block
  color: $gold_color
  font-family: ArimoItalic
  font-size: 11pt

.contact-get-block_auto
  padding-bottom: 65px
