@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1570px)
  .ul-list
    flex-direction: column
  .list-item__contact
    width: 100%
    text-align: center

  .b-column-caption_BB
    font-size: 32pt

@media only screen and (max-width : 1470px)

  .current_hall
    #calcul_hall
     .first_row
       li
         width: 120px
       .input_date
         width: 48%
         margin-bottom: 15px
    .row_guests
      #coun_kofe
        margin-left: 0px !important

@media only screen and (max-width : 1370px)
  .transfer
    #transferSend
      .first_row
        li
          width: 100%
          label
            min-width: 70px
            display: inline-block
            margin-bottom: 15px
          input
            width: 144px
        .input_date
          width: 100%


  .b-column-caption_BB
    font-size: 28pt

  .transfer-input-date
    label
      margin-bottom: 10px !important
    margin-bottom: 15px

  .contact_section
    display: flex
    flex-direction: column
    input
      width: 100% !important
      max-width: 100% !important
      margin-bottom: 15px

@media only screen and (max-width : 1270px)

  .right_column
    .item
      .description
        padding-top: 30px
      .caption
        display: none

  .current_hall
    #calcul_hall
      .first_row
        .input_date
          label
            display: block
            margin-bottom: 10px
          width: 100%
          margin-bottom: 25px
        .li
          margin-bottom: 15px

  .b-content-site
    margin-right: 0
    width: calc( 100% - 240px)

  .first_layout
    width: calc( 100% - 240px)

  .b-right-column-index
    position: relative
    width: calc(100% - 240px)
    margin-left: 240px
    order: 3
    height: auto !important

  .b-item-index-slider
    width: 100%

  .b-wrap-first-layout
    display: flex
    flex-direction: column


  .b-right-column-index-item
    height: 400px !important

  .b-right-column-index-item .caption
    display: block !important

  .content_footer
    width: 100%

  .content_footer
    padding-left: 50px
    padding-right: 50px
    padding-top: 50px

  .b-column_left
    width: 100%

  .b-column_right
    width: 100%

  .b-about
    .b-column_big
      padding-bottom: 100px

  .b-contact-left-column
    width: 100%

  .b-contact-right-column
    width: 100%
    padding-bottom: 250px
    padding-left: 25px
    padding-right: 25px

  .pen
    right: 0

  .wrap_form
    display: block
    
  .header_img
    background-position: 50% 50%

  .b-current-banqueting-hall-left-column
    width: 100%
    order: 3

  .b-current-banqueting-hall-right-column
    width: 100%
    padding-bottom: 50px

  .b-current-banqueting-hall-left-column .wrap_img img
    width: 100%

  .current_banqueting_hall
    display: flex
    flex-direction: column

  .current_banqueting_hall .wrap_text_content
    position: relative

  .b-current-hall-right-column
    width: 100%
    padding-bottom: 50px

  .b-current-hall-left-column
    width: 100%
    order: 3

  .current_hall
    display: flex
    flex-direction: column

  .b-column-news
    width: 100% !important
    position: relative

  .b-column-article
    width: 100%
    display: none

  .article-item-content
    background-color: #ffffff

  .article-item-link__next
    display: none

  .mfp-close-btn-in .mfp-close
    border-radius: 10em
    border: 2px solid #f5f5f5
    color: #f5f5f5

  .b-media-text
    padding-left: 25px
    padding-right: 25px

  .b-info-transfer
    width: 100%

  .b-transfer-fix-container
    width: 100%
    padding-bottom: 250px
    padding-left: 25px
    padding-right: 25px
    background-color: #ffffff

  .line-transfer-form
    display: flex
    flex-wrap: wrap

  .transfer-input-date
    width: 100%
    margin-bottom: 15px

  .date
    width: 50%
    margin-left: 15px

  .line-transfer-form__item
    width: 49% !important

  .b-foto_room
    width: 100%
    order: 3

  .b-col-info
    width: 100%
    padding-bottom: 50px

  .current_room
    display: flex
    flex-direction: column

  .b-contact-right-column
    background-color: #fff

  .current_banqueting_hall
    .hr
      display: none

  #calcul_hall
    .date
      margin-left: 0 !important

  .b-current-hall-left-column
    img
      width: 100%





/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  header
    //position: absolu
    left: -260px
    width: 260px
    overflow: scroll
    overflow-x: hidden


  .b-visible-nav
    display: block

  .b-content-site
    width: 100%
    margin-left: 0

  .b-right-column-index
    width: 100%
    margin-left: 0

  .first_layout
    width: 100%
    margin-left: 0

  .b-about
    width: 100%
    margin-left: 0

  .content_site
    width: 100%
    margin-left: 0

  .first_layout
    min-height: 750px !important

  header .action
    position: relative
    padding-left: 0
    margin-top: 25px



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .content_site
    min-width: 280px

  footer .double_footer
    margin-left: 0 !important
    margin-right: 0 !important

  .wrap_calcul
    img
      max-width: 100%

  .right_column .item .description
    padding-top: 0

  footer, .full_footer
    display: flex
    flex-direction: column
    .item_footer
      width: 100%
      margin-bottom: 15px

  footer .double_footer .webest
    margin-right: 0

  .content_index
    padding-left: 25px
    padding-right: 25px

  .b-about
    .b-column
      padding-left: 25px
      padding-right: 25px

  .faq-list
    padding-left: 0

  .content_footer
    padding-left: 25px
    padding-right: 25px

  .hotel_room .price
    margin-bottom: 25px

  .b-contact-left-column
    padding-left: 25px
    padding-right: 25px

  .text_content
    padding-left: 25px !important
    padding-right: 25px !important

  .current_hall .row_arrangement .descr_ul
    float: none

  .current_hall .row_arrangement ul
    padding-left: 0

  .date
    width: 100% !important
    margin-left: 0 !important

  .list_airport li
    width: 100% !important

  .count_seats
    width: 100% !important

  .article-item-content
    padding-left: 25px
    padding-right: 25px

  .b-column-caption_BB
    font-size: 24pt

  .content_footer
    padding-left: 25px
    padding-right: 25px
    .text_content
      padding-left: 0!important
      padding-right: 0!important

  footer
    padding-left: 10px
    padding-right: 10px

  .item-news__preview
    padding-left: 0

  .b-info-transfer
    padding-left: 25px
    padding-right: 25px

  .transfer_description
    margin-left: 25px
    margin-right: 25px

  .b-transfer-fix-container
    padding-left: 0
    padding-right: 0

  .content_index
    padding-left: 0px
    padding-right: 0px

  .content_index:after
    margin-left: -41px
    left: 50%

  .b-contact-left-column, .transfer
    .hr
      margin-left: -25px !important
      margin-right: -25px !important






/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .first_layout h1
    padding-top: 50px !important
    font-size: 28pt
    line-height: 54px

  .right_column .item .caption
    display: none !important

  .b-right-column-index-item
    height: 300px !important
    position: relative
    .btn_link
      position: absolute
      bottom: 30px
      margin-left: -66px
      left: 50%

  .b-item-index-slider
    .description
      position: absolute
      top: 20%

  .right_column .slider .owl-nav .owl-next
    right: 0px

  .right_column .slider .owl-nav .owl-prev
    left: 0

  .hotel_room .price:before
    width: 60px
    left: -60px

  .hotel_room .price:after
    width: 60px
    right: -60px

  .hotel_room ul.components
    li
      display: inline-block
      margin-left: auto
      margin-right: auto
      width: 40%
    padding-left: 0px
    text-align: center
    display: flex
    flex-direction: column

  .double_footer
    margin-left: 0 !important
    margin-right: 0 !important

  .b-column-caption
    font-size: 28pt
    line-height: 44px

  .b-list-hotel
    display: flex
    flex-direction: column

  .faq__img
    display: none

  .faq__caption
    margin-left: 0
    line-height: 21px
    margin-bottom: 50px

  .faq__hr
    margin-left: 0
    width: 100%

  .content_footer .caption, .content_footer .caption_circle
    line-height: 38px !important

  .b-conference-item , .b-current-hall-right-column
    .price:before
      width: 40px !important
      left: -40px !important

  .b-conference-item , .b-current-hall-right-column
    .price:after
      width: 40px !important
      right: -40px !important

  .hr
    margin-left:  -24px!important
    margin-right: -24px !important

  .b-contact-right-column
    padding-left: 0
    padding-right: 0
    .form-line
      display: flex
      flex-direction: column
      input
        width: 100% !important
        margin-bottom: 15px !important
        max-width: 100% !important

  .pen
    display: none

  .b-contact-right-column
    padding-bottom: 100px

  .b-list-properties-banqueting-hall
    padding-left: 15px !important
    padding-right: 15px !important
    li
      width: 100% !important

  .b-current-banqueting-hall-right-column, .b-current-hall-right-column
    .hr
      margin-left: 0 !important
      margin-right: 0 !important

  .row_arrangement
    ul
      display: flex
      flex-wrap: wrap
      li
        margin-right: 0 !important
        width: 50% !important

  .row_guests
    display: flex
    flex-wrap: wrap
    .item
      width: 100% !important

  .contact_section
    display: flex
    flex-direction: column
    input
      width: 100% !important
      max-width: 100% !important
      margin-bottom: 15px

  ul.arrangement
    display: flex
    flex-wrap: wrap
    .title
      border-top: none !important
    li
      width: 50%
      border-bottom: solid 1px #E6E6E6
      padding-bottom: 15px
      &:nth-child(1)
        border-top: solid 1px #E6E6E6
      &:nth-child(2)
        border-top: solid 1px #E6E6E6
      &:nth-child(odd)
        border-left: solid 1px #E6E6E6
        border-right: solid 1px #E6E6E6 !important
      &:nth-child(even)
        border-left: none
        border-right: solid 1px #E6E6E6 !important

  .b-item-news-link
    display: flex
    flex-direction: column
    .item-news__preview
      margin-left: 0 !important
    .item-news__photo
      float: none
      width: 100%
      margin-bottom: 25px

  .b-column-caption_lion
    font-size: 18pt
    line-height: 54px

  .caption.b-media-text
    line-height: 54px
    font-size: 28pt

  .b-logo-in-text:after
    width: 40px !important
    right: -40px !important

  .b-logo-in-text:before
    width: 40px !important
    left: -40px !important

  .transfer_description_header
    margin-left: 0 !important
    margin-right: 0 !important

  .line-transfer-form
    display: flex
    flex-direction: column

  .line-transfer-form__item
    width: 100% !important
    max-width: 100% !important
    label
      margin-top: 15px
    input
      width: 100% !important
      max-width: 100% !important

  .b-transfer-fix-container
    padding-bottom: 100px

  .info_room
    .components
      padding-left: 0 !important
      text-align: center !important
      li
        display: inline-block !important
        width: 50% !important
        span
          left: 0 !important
          margin-left: -5px
      padding-left: 0px
      display: flex
      flex-wrap: wrap
    .price:after
      width: 40px !important
      right: -40px !important
    .price:before
      width: 40px !important
      left: -40px !important

  .current_room
    .hr
      margin-left: 0 !important
      margin-right: 0 !important

  .info_room .b-list-properties-banqueting-hall
    li
      width: 100% !important


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

