@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1570px)
  .ul-list
    flex-direction: column
  .list-item__contact
    width: 100%
    text-align: center
@media only screen and (max-width : 1470px)

  .current_hall
    #calcul_hall
     .first_row
       li
         width: 120px
       .input_date
         width: 48%
         margin-bottom: 15px
    .row_guests
      #coun_kofe
        margin-left: 0px !important

@media only screen and (max-width : 1370px)
  .transfer
    #transferSend
      .first_row
        li
          width: 100%
          label
            min-width: 70px
            display: inline-block
            margin-bottom: 15px
          input
            width: 144px
        .input_date
          width: 100%

@media only screen and (max-width : 1270px)

  .right_column
    .item
      .description
        padding-top: 30px
      .caption
        display: none

  .current_hall
    #calcul_hall
      .first_row
        .input_date
          label
            display: block
            margin-bottom: 10px
          width: 100%
          margin-bottom: 25px
        .li
          margin-bottom: 15px

  .b-content-site
    margin-right: 0
    width: calc( 100% - 240px)

  .first_layout
    width: calc( 100% - 240px)

  .b-right-column-index
    position: relative
    width: 100%
    margin-left: 240px

  .b-item-index-slider
    width: 100%

  .b-wrap-first-layout
    display: flex
    flex-direction: column


  .b-right-column-index
    order: 3
    height: auto !important

  .b-right-column-index-item
    height: 400px !important

  .b-right-column-index-item .caption
    display: block !important

  .content_footer
    width: 100%

  .content_footer
    padding-left: 50px
    padding-right: 50px
    padding-top: 50px

  .b-column_left
    width: 100%

  .b-column_right
    width: 100%

  .b-about
    .b-column_big
      padding-bottom: 100px

  .b-contact-left-column
    width: 100%

  .b-contact-right-column
    width: 100%
    padding-bottom: 250px
    padding-left: 25px
    padding-right: 25px

  .pen
    right: 0

  .wrap_form
    display: block
    
  .header_img
    background-position: 50% 50%

  .b-current-banqueting-hall-left-column
    width: 100%
    order: 3

  .b-current-banqueting-hall-right-column
    width: 100%
    padding-bottom: 50px

  .b-current-banqueting-hall-left-column .wrap_img img
    width: 100%

  .current_banqueting_hall
    display: flex
    flex-direction: column

  .current_banqueting_hall .wrap_text_content
    position: relative

  .b-current-hall-right-column
    width: 100%
    padding-bottom: 50px

  .b-current-hall-left-column
    width: 100%
    order: 3

  .current_hall
    display: flex
    flex-direction: column

  .b-column-news
    width: 100% !important
    position: relative

  .b-column-article
    width: 100%
    display: none

  .article-item-content
    background-color: #ffffff

  .article-item-link__next
    display: none

  .mfp-close-btn-in .mfp-close
    border-radius: 10em
    border: 2px solid #f5f5f5
    color: #f5f5f5

  .b-media-text
    padding-left: 25px
    padding-right: 25px

  .b-info-transfer
    width: 100%

  .b-transfer-fix-container
    width: 100%
    padding-bottom: 250px
    padding-left: 25px
    padding-right: 25px

  .line-transfer-form
    display: flex
    flex-wrap: wrap

  .transfer-input-date
    width: 100%
    margin-bottom: 15px

  .date
    width: 50%
    margin-left: 15px

  .line-transfer-form__item
    width: 49% !important

  .b-foto_room
    width: 100%
    order: 3

  .b-col-info
    width: 100%
    padding-bottom: 50px

  .current_room
    display: flex
    flex-direction: column

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

