.b-column_news
.b-column-caption_BB
  padding-bottom: 25px
  bottom: 30px
  position: relative
  &:before
    display: block
    height: 2px
    background-color: #b3b3b3
    width: 80px
    left: 50%
    margin-left: -40px
    content: ''
    bottom:  0
    position: absolute

.b-column-news
  padding-left: 0
  padding-right: 0
  position: fixed


.b-news-list
  overflow: auto

.b-item-news-link
  display: inline-block
  padding: 25px
  border-top: 1px solid #ccc
  text-decoration: none !important

.item-news__photo
  background-repeat: no-repeat
  display: block
  width: 170px
  height: 115px
  float: left
  -webkit-background-size: cover
  background-position: center center
  background-size: cover
  margin-right: 21px

.item-news__caption
  font-family: ArimoItalic
  color: $gold_color
  font-size: 12pt
  display: block
  margin-bottom: 25px

.item-news__preview
  font-size: 10pt
  color: $grey_color
  display: block
  margin-left: 190px

.b-column-article
  padding: 0

.article-item-content
  padding-left: 50px
  padding-right: 50px
  padding-bottom: 60px
  padding-top: 60px


.article-item-photo
  background-repeat: no-repeat
  width: 100%
  height: 265px
  background-position: center center
  -webkit-background-size: cover
  background-size: cover

.article-item__caption
  font-family: Arimo
  font-size: 24pt
  color: $caption_gross_color
  position: relative
  padding-bottom: 22px
  margin-bottom: 20px
  &:before
    position: absolute
    left: 0
    bottom: 0
    content: ''
    width: 80px
    height: 1px
    background-color: #b3b3b3

.article-item-content
  p
    text-align: justify

.article-item-link__next
  font-size: 10pt
  display: block
  text-align: center
  padding-top: 20px
  padding-bottom: 20px
  color: $grey_color !important
  text-decoration: none !important
  background-color: #F5F5F5

.article-item-link__next_arr
  color: #4d4d4d !important

.b-link-action
  text-align: center
  padding-bottom: 83px
  background-color: #fff
  text-decoration: none





